.signup {
	margin-top: 20px;
}

.signup:hover{
    cursor: pointer;
}

.rdbtn {
	margin: 7px 0 7px 0;
	background-color: #212529;
	color: #41444A;
	width: 100%;
	padding: 5px; 
}
.rdbtn input {
	width: 90px;
}
.dob{
	background-color: #EEEEEE;
	/* padding: 5px;  */
	height: 41px;
	margin: 7px 0 7px 0;
	padding-right: 30px;
	width: 400px;
}

.dob input{
	width: 190px;
	margin-left: 15px;
	margin-right: 0px;
	height: 33px;
	padding-left: 50px;
	margin-left: 80px;
}

.dp input {
	width: 358px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 30px;
	height: 40px;
}

textarea {
	margin: 7px 0 7px 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #212529;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 0px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #1b68ff;
	background-color: #1b68ff;/*#FF4B2B;*/
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

button.ghost:hover {
    cursor: pointer;
}

form {
    border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #212529;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #212529;;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #212529;;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 900px;
	max-width: 100%;
	min-height: 600px;
	/*margin-top: 100px;*/
	/*margin: 70px 0 0 0;*/
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	background: #212529;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
	background:#212529;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
	background: #212529;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #1b68ff;/*#FF416C;*/
	background: #1b68ff;/*-webkit-linear-gradient(to right, #FF4B2B, #FF416C);*/
	background: #1b68ff;/*linear-gradient(to right, #FF4B2B, #FF416C);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.sig:hover{
    cursor: pointer;
}
.inputbox{
    position: relative;
    width: 100%;
}
.inputbox input{
    width: 100%;
    padding: 10px;
    background: #212529;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputbox span{
    position: absolute;
    color: #41444A;
    left: 0;
    padding: 5px;
    margin-top: 10px;
    margin-left:8px;
    pointer-events: none;
    font-size: 1em;
    border: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputbox input:valid ~span,
.inputbox input:focus ~span{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #212529;
    letter-spacing: 0.2em;
}
.inputbox input:valid,
.inputbox input:focus{
    border: 1px solid #00dfc4;
}
.inputbox:nth-child(2) input:valid ~span,
.inputbox:nth-child(2) input:focus ~span{
    background: #00dfc4;
    color: #212529;
}
.inputbox:nth-child(1) input:valid ~span,
.inputbox:nth-child(1) input:focus ~span{
    background: #00dfc4;
    color: #212529;
}